<ion-view>
  <ion-content class="light-blue darken-4 ">
    <div class="logo center padding-top no-margin">
      <h1 class="white-text font-lighter no-margin">BccPay</h1>
    </div>
    <div class="padding-top padding-left no-margin">
      <h4 class="white-text font-lighter no-margin">Change Password</h4>
    </div>
    <form class="col s12 center">
      <div class="row no-margin">
        <div class="custom-input-focus-color input-field col s12">
          <input id="password" type="password" ng-model="newPasswordvalue.newPassword" class="white-text">
          <label for="amount">Password</label>
        </div>
      </div>
      <div class="row no-margin">
        <div class="custom-input-focus-color input-field col s12">
          <input id="password" type="password" ng-model="newPasswordvalue.confirmNewPassword" class="white-text">
          <label for="amount">Confirm Password</label>
        </div>
      </div>

      <button class="btn waves-effect waves-light light-blue-text darken-4-text white" type="submit" name="action" ng-click="newPassword(newPasswordvalue)">submit
        <i class="material-icons right">send</i>
      </button>

    </form>
  </ion-content>
</ion-view>

