<ion-view>
  <ion-content>
    <div class="list">

    <div class="item item-button-right">
    <h2>  {{items[0]}} </h2>
      <button class="button button-positive">
        <i class="icon ion-ios-telephone">{{balance.BTCbalance}}</i>
      </button>
    </div>
  <div class="item item-button-right">
  <h2>  {{items[1]}} </h2>
    <button class="button button-positive">
      <i class="icon ion-ios-telephone">{{balance.BCHbalance}}</i>
    </button>
  </div>
  <div class="item item-button-right">
  <h2>  {{items[2]}} </h2>
    <button class="button button-positive">
      <i class="icon ion-ios-telephone">{{balance.LTCbalance}}</i>
    </button>
  </div>
  <div class="item item-button-right">
  <h2>  {{items[3]}} </h2>
    <button class="button button-positive">
      <i class="icon ion-ios-telephone">{{balance.INRbalance}}</i>
    </button>
  </div>
  <div class="item item-button-right">
  <h2>  {{items[4]}} </h2>
    <button class="button button-positive">
      <i class="icon ion-ios-telephone">{{balance.USDbalance}}</i>
    </button>
  </div>
  <div class="item item-button-right">
  <h2>  {{items[5]}} </h2>
    <button class="button button-positive">
      <i class="icon ion-ios-telephone">{{balance.EURbalance}}</i>
    </button>
  </div>
  <div class="item item-button-right">
  <h2>  {{items[6]}} </h2>
    <button class="button button-positive">
      <i class="icon ion-ios-telephone">{{balance.GBPbalance}}</i>
    </button>
  </div>
  <div class="item item-button-right">
  <h2>  {{items[7]}} </h2>
    <button class="button button-positive">
      <i class="icon ion-ios-telephone">{{balance.BRLbalance}}</i>
    </button>
  </div>
  <div class="item item-button-right">
  <h2>  {{items[8]}} </h2>
    <button class="button button-positive">
      <i class="icon ion-ios-telephone">{{balance.PLNbalance}}</i>
    </button>
  </div>
  <div class="item item-button-right">
  <h2>  {{items[9]}} </h2>
    <button class="button button-positive">
      <i class="icon ion-ios-telephone">{{balance.CADbalance}}</i>
    </button>
  </div>
  <div class="item item-button-right">
  <h2>  {{items[10]}} </h2>
    <button class="button button-positive">
      <i class="icon ion-ios-telephone">{{balance.TRYbalance}}</i>
    </button>
  </div>
  <div class="item item-button-right">
  <h2>  {{items[11]}} </h2>
    <button class="button button-positive">
      <i class="icon ion-ios-telephone">{{balance.RUBbalance}}</i>
    </button>
  </div>
  <div class="item item-button-right">
  <h2>  {{items[12]}} </h2>
    <button class="button button-positive">
      <i class="icon ion-ios-telephone">{{balance.MXNbalance}}</i>
    </button>
  </div>
  <div class="item item-button-right">
  <h2>  {{items[13]}} </h2>
    <button class="button button-positive">
      <i class="icon ion-ios-telephone">{{balance.CZKbalance}}</i>
    </button>
  </div>
  <div class="item item-button-right">
  <h2>  {{items[14]}} </h2>
    <button class="button button-positive">
      <i class="icon ion-ios-telephone">{{balance.ILSbalance}}</i>
    </button>
  </div>
  <div class="item item-button-right">
  <h2>  {{items[15]}} </h2>
    <button class="button button-positive">
      <i class="icon ion-ios-telephone">{{balance.NZDbalance}}</i>
    </button>
  </div>
  <div class="item item-button-right">
  <h2>  {{items[16]}} </h2>
    <button class="button button-positive">
      <i class="icon ion-ios-telephone">{{balance.JPYbalance}}</i>
    </button>
  </div>
  <div class="item item-button-right">
  <h2>  {{items[17]}} </h2>
    <button class="button button-positive">
      <i class="icon ion-ios-telephone">{{balance.SEKbalance}}</i>
    </button>
  </div>  <div class="item item-button-right">
    <h2>  {{items[18]}} </h2>
      <button class="button button-positive">
        <i class="icon ion-ios-telephone">{{balance.AUDbalance}}</i>
      </button>
    </div>
  </div>
</ion-content>
</ion-view>
